@font-face {
  font-family: "Dela";
  src: url("../fonts/DelaGothicOne-Regular.ttf");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "Fixel";
  src: url("../fonts/FixelText-SemiBold.ttf");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "Neue";
  src: url("../fonts/NeueMontreal-Medium.ttf");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}
