@use "./utils" as *;

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--font-fixel);
  font-size: vw(16);
  line-height: 116%;
  color: var(--c-black);
	min-height: 100vh;
	text-transform: uppercase;
}
::selection {
  background: var(--c-white);
  color: var(--c-black);
}

body {
  overscroll-behavior: none;
	-ms-overflow-style: none;
}

body::-webkit-scrollbar {
	display: none;
}

button,
a {
  box-sizing: border-box;
  display: inline-flex;
  @media (hover: hover) {
    cursor: pointer;
  }
}
.inner-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icon, .svg {
  width: 100%;
  height: auto;
}

.desk {
	@include mobile {
		display: none;
	}
}
.mob {
	@include desktop {
		display: none;
	}
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

// Lenis recommended styles

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}